
{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Transacted</th>
        </tr>
      </thead>
       <tbody>
         {% for value in values %}
            <tr>
              <th scope="row">{{value[0]}}</th>
              <td>{{value[1]}}</td>
              <td>${{value[2]}}</td>
              <td>{{value[3]}}</td>
            </tr>
        {% endfor %}
        </tbody>

{% endblock %}
